#Text1 {
    height: 0px;
    width: 361px;
    margin-left: 220px;
}

.auto-style1 {
    width: 535px;
}

.auto-style2 {
    width: 445px;
    height: 447px;
    margin-left: 66px;
    background-color: #d6d6f5;
}

.auto-style4 {
    width: 388px;
    height: 600px;
}

.auto-style5 {
    margin-left: 54px;
    margin-top: 31px;
}

.auto-style6 {
    margin-left: 55px;
}

.auto-style7 {
    width: 497px;
    height: 483px;
}

.auto-style8 {
    height: 483px;
}

.auto-style9 {
    width: 535px;
    height: 483px;
}

.auto-style10 {
    height: 508px;
    margin-top: 0px;
}

.auto-style11 {
    margin-left: 0px;
}
