body {
    background-color: #d6d6f5;
    background-image: url('photus/college.jpg');
    background-size: 100%;
    width: 100%;
    font-family: cursive;
}
.auto-style1 {
    width: 340px;
}

.auto-style2 {
    width: 577px;
}

.auto-style3 {
    width: 1714px;
    height: 637px;
}

.auto-style5 {
    height: 617px;
    width: 537px;
}

.auto-style6 {
    width: 161px;
}

.auto-style8 {
    width: 98%;
    height: 447px;
    margin-left: 0px;
    background-color: transparent;
    border-block-color: black;
    margin-top: 0px;
    box-shadow: 0 4px 200px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

.auto-style9 {
    width: 161px;
    height: 30px;
}

.auto-style10 {
    height: 30px;
}

.auto-style11 {
    width: 161px;
    height: 31px;
}

.auto-style12 {
    height: 31px;
}

.auto-style13 {
    margin-left: 280px;
}

.auto-style14 {
    width: 310px;
}
