#Text1 {
    height: 0px;
    width: 361px;
    margin-left: 220px;
}

.auto-style1 {
    width: 535px;
}

.auto-style4 {
    width: 388px;
    height: 600px;
}

.auto-style7 {
    width: 497px;
    height: 483px;
}

.auto-style8 {
    height: 483px;
}

.auto-style9 {
    width: 535px;
    height: 483px;
}

.auto-style10 {
    height: 508px;
    margin-top: 0px;
}
