.auto-style1 {
    width: 340px;
}

.auto-style2 {
    width: 577px;
}

.auto-style3 {
    width: 1714px;
    height: 637px;
}

.auto-style5 {
    height: 617px;
    width: 537px;
}

.auto-style6 {
    width: 161px;
}

.auto-style8 {
    width: 535px;
    height: 66px;
    margin-bottom: 0px;
}

.auto-style9 {
    width: 161px;
    height: 30px;
}

.auto-style10 {
    height: 30px;
}

.auto-style11 {
    width: 161px;
    height: 31px;
}

.auto-style12 {
    height: 31px;
}

.auto-style13 {
    margin-left: 280px;
}

.auto-style14 {
    width: 310px;
}
